.Nav_link:link {
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  line-height: 1.6rem;
  text-decoration: none;
}
.Nav_link:visited {
  color: rgb(0, 0, 0);
}

.Nav_link:active {
  font-weight: 600;
}

.active {
  font-weight: 600;
}
