.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .node text {
    font-size: 11px;
  }
  
  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

.Typed{
  font-size: 16pt;
}

@media only screen and (max-width: 600px) { 

.Typed{
  display: none;
}

}

