p {
  text-align: center;
}
.Grid {
  margin:10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
.Grid img{
  flex-shrink: 0;
  max-width: 100%;
  min-height: 400px;

}
.Grid-item {
  width: 100%;
  background: none;
  margin-top: 2%;
}
@media (min-width: 48rem) {
  .Grid-item {
    width: 49%;
  }
  .Grid-item:nth-child(odd) {
    background: none;
    margin-right: 2%;
  }
}
@media (min-width: 62rem) {
  .Grid-item {
    width: 23.5%;
  }
  .Grid-item:not(:nth-child(4n)) {
    background: none;
    margin-right: 2%;
  }
}
.Grid-item:before {
  content: "";
  float: left;
  padding-top: 100%;
}
