.ProjectName{
    background:none;
    border:none;    
}

.ProjectList{
    display: flex;
    flex-direction: column;
}

.sidenav{
    
}

h1, p {
    font-family: Lato;
  }
  
  p:hover{
    cursor: pointer;
    
  }
  
  .container{
    display: flex;
    justify-content: space-between;
    border:none;
    margin:10px;
  }

  .Imagebox{
   display: flex;
  }

  .Image{
      width: 400px;
      height: 400px;
      border:none;
      border-radius: 5px;
  }

 